<div class="logo-img">
 <img class="logo-loading-screen" src="/assets/4telogo.png">
</div>
<div class="loading_page_text">Patience is a virtuoso</div>


<%= javascript_tag do %>
    $(function() {
    $.post('loading', {hash: document.location.hash});
    });
<% end %>